<!-- Footer -->
<footer class="page-footer font-small blue">

    <!-- NEWSLETTER --> 
     <section class="newsletter">
         <div class="container">
             <div class="row">
                 <div class="col-sm-12">
                     <div class="content">
                         <h2>Suscríbete y recibe nuestras novedades</h2>
                         <div class="input-group mb-4">
                             <input type="email" class="form-control" placeholder="Introduce tu email">
                             <span class="input-group-btn">
                                 <button class="btn" type="submit">Suscribir</button>
                             </span>
                         </div>
                         <div id="politicaPrivacidad "> 
                             <input type="checkbox" class="form-check-input" id="politica" required=""> 
                             <label class="form-check-label" for="politica">Acepto la política de privacidad</label> 
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </section>
 
     <section id="footerLinks">
         <div class="container container-fluid text-md-left">
     
         <div class="row">
     
             <div class=" col-sm-6 col-md-4 mt-md-0 mt-3">
                 <div class="centerColumn">
                     <h5 class=""><i class="fa-solid fa-music"></i> &nbsp;Información Festival</h5>
                     <ul class="list-unstyled">
                         <li>
                         <a href="#!">- Artistas confirmados</a>
                         </li>
                         <li>
                         <a href="#!">- Medios oficiales</a>
                         </li>
                         <li>
                         <a href="#!">- Prensa</a>
                         </li>
                         <li>
                         <a href="#!">- Ediciones anteriores</a>
                         </li>
                     </ul>  
                 </div>
             </div>
     
            <!--<hr class="clearfix w-100 d-md-none pb-3">-->
     
             <div class="col-sm-6 col-md-4 mb-md-0 mb-3">
                 <div class="centerColumn">
                     <h5 class=""><i class="fa-solid fa-user-group"></i> &nbsp;Información Visitantes</h5>
             
                     <ul class="list-unstyled">
                         <li>
                         <a href="#!">- Comprar entradas</a>
                         </li>
                         <li>
                         <a href="#!">- Mapa del recinto</a>
                         </li>
                         <li>
                         <a href="#!">- Camping y alojamientos</a>
                         </li>
                         <li>
                         <a href="#!">- Restaurantes y bares</a>
                         </li>
                     </ul>
                 </div>
             </div>
     
             <div class="col-sm-6 col-md-4 mb-md-0 mb-3">
                 <div class="centerColumn">
     
                     <h5 class=""><i class="fa-solid fa-circle-info"></i> &nbsp;Información Legal</h5>
         
                     <ul class="list-unstyled">
                         <li>
                         <a href="#!">- Aviso legal</a>
                         </li>
                         <li>
                         <a href="#!">- Política de privacidad</a>
                         </li>
                         <li>
                         <a href="#!">- Política de cookies</a>
                         </li>
                         <li>
                         <a href="#!">- Condiciones de uso</a>
                         </li>
                     </ul>
 
                 </div>
             </div>
             
     
         </div>
     
         </div>
     </section>
 
     
   
    <div id="footerMenu">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-2">
                    <img src="./assets/images/logo.png" class="logo img-fluid" alt="Logo">
                </div>
                <div class="col-12 col-md-8">
                    <nav id="footerMenuLinks"> 
                        <ul class="list-inline text-center">
                            <li class="list-inline-item"><a class="nav-link" href="#">Inicio</a></li>
                            <li class="list-inline-item"><a class="nav-link" href="#">Bandas</a></li>
                            <li class="list-inline-item"><a class="nav-link" href="#">Nosotros</a></li>
                            <li class="list-inline-item"><a class="nav-link" href="#">Contacto</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-12 col-md-2">
                    <nav id="socialMenu"> 
                        <ul class="list-inline text-center"> 
                            <li class="list-inline-item"><a href="#"><i class="fa-brands fa-instagram"></i></a></li> 
                            <li class="list-inline-item"><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li> 
                            <li class="list-inline-item"><a href="#"><i class="fa-brands fa-twitter"></i></a></li> 
                        </ul> 
                    </nav>
                </div>
            </div>
        </div>
    </div>
   
</footer>
<!-- Footer -->